.top-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../images/snow-falling.jpeg);
  background-size: cover;
  background-position: center bottom;
}

.content-header {
  margin-bottom: 15px;
}

.table-holding-div {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.table-holding-div table {
  margin-bottom: 25px;
  border: 2px solid #000;
}

.table-caption {
  margin-bottom: 11px;
}

.lawn-green-horizontal-rules{
  height: 25px;
  background-color: lawngreen;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  border-top: 4px solid blueviolet;
  border-bottom: 4px solid blue
  
}

.second-index-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: tomato;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: cursive;
}

.still-header {
  margin-bottom: -8px;
}

.h-rulez {
  width: 91%;
  height: 14px;
  background-color: rgb(77, 70, 70);
  margin: 0 auto 44px auto;
  border: none;
}

.second-table {
  border-collapse: collapse;
  border: 2px solid black;
  background-color: rgb(227, 181, 148);
}

.second-table thead th {
  background-color: darkolivegreen;
}

.second-table th, td {
  border: 1px solid black;
  padding: 8px;
}

.left-col-of-second-table {
  border-right: 5px solid;
  background-color: rgb(190, 148, 202);
}

.middle-col-of-second-table {
  background-color: rgb(243, 243, 48);
}

.right-col-of-second-table {
  background-color: rgb(180, 69, 69);
}

.second-table tfoot {
  border-top: 5px solid;
  background-color: goldenrod;
}

.third-div-down_index {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../images/maple-tree.jpeg);
  background-size: cover;
  background-position: center top;
  color: antiquewhite;
}


